h1 {
    color: white;
}

body {
    background-color: #3B5998;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px 30px;
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2px;
}

.form-control select,
.form-control textarea {
    border: 1px solid;
    display: block;
    width: 80%;
}

button {
    background-color: #3B5998;
    color: white;
    border: 1PX solid;
    width: 50%;
    margin: auto;
    cursor: pointer;
}